* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #2a82a573;
}

.container {
    background: #ffffff8c;
    width: 330px;
    padding: 20px;
    text-align: center;
    color: #928989;
    border-radius: 0.5rem;
}
.container h3 {
    margin-bottom: 20px;
}

.container input {
    width: 70%;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid #b1afafa2;
    background-color: transparent;
    font-family: cursive;
    font-weight: 700;
    text-align: center;
    font-size: medium;
    color: rgb(87, 20, 20);
}

.container button {
    padding: 9px 15px;
    background-color: #2a82a573;
    border-color: transparent;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    outline: 2px solid #ffffff;
}

.container button:hover {
    outline: 3px solid #ffffff;
}
.container input:focus {
    outline: none;
}